PORT=3001
AUTH_USERNAME=admin
AUTH_PASSWORD=rahasia123
SESSION_SECRET=ganti-dengan-string-acak-32-karakter
GOOGLE_SHEETS_SPREADSHEET_ID=isi-dengan-spreadsheet-id
GOOGLE_CLIENT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
FRONTEND_URL=http://localhost:3000
